@using TV_Program_Management.Models


@model UserModel


@section btn_Login{
<a class="btn btn-outline-light" href="/Login">Login</a>
}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                        <p class="text-white-50 mb-5">Please enter your infotmation!</p>

                        <form asp-controller="Register" asp-action="register">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="form3Example1">First name<span style="color: red">*</span></label>
                                        <input type="text" id="form3Example1" class="form-control" asp-for="FisrtName" />
                                        <span asp-validation-for="FisrtName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="form3Example2">Last name<span style="color: red">*</span></label>
                                        <input type="text" id="form3Example2" class="form-control" asp-for="LastName" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- UserName input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">User Name<span style="color: red">*</span></label>
                                <input type="text" id="form3Example3" class="form-control" asp-for="UserName" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email address<span style="color: red">*</span></label>
                                <input type="email" id="form3Example3" class="form-control" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example4">Password<span style="color: red">*</span></label>
                                <input type="password" id="form3Example4" class="form-control" asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <!-- Submit button -->
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>

                            <!-- Error message for existing email -->
                            @if (ViewBag.EmailExistsError is not null)
                            {
                                <div class="text-danger mt-3">
                                    @ViewBag.EmailExistsError
                                </div>
                            }
                        </form>   
                        
                    </div>

                    <div>
                        <p class="mb-0">
                            You have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>













@* <!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right bg-body-tertiary" style="
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form asp-controller="Register" asp-action="Register">
                <div asp-validation-summary="All" class="text-danger"></div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" asp-for="FisrtName"/>
                    <label class="form-label" for="form3Example1">First name</label>
                     <span asp-validation-for="FisrtName" class="text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" asp-for="LastName"/>
                    <label class="form-label" for="form3Example2">Last name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                  </div>
                </div>
              </div>

               <!-- UserName input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" asp-for="UserName"/>
                <label class="form-label" for="form3Example3">User Name</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
              </div>

              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" asp-for="Email"/>
                <label class="form-label" for="form3Example3">Email address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" asp-for="Password"/>
                <label class="form-label" for="form3Example4">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                  <a href="/Login">you have an account?   Login</a>
              </div>

              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100" value="Sign up">
                 Sign up
              </button>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block --> *@